body {
background-image:url(trees.jpg);
background-position:center;
}

.container .jumbotron {
border-radius:20px;
padding:.1em;
}

.jumbotron {
border-radius:100%;
}

#trainJumbo {
font-family:'Diplomata SC', cursive;
font-size:140px;
line-height:85px;
}

.hedStyle {
font-family:'Diplomata SC', cursive;
font-size:20px;
color:#FFF;
text-align:left;
background:#FFF;
}

#unknown {
font-size: 46px;
text-align: center;
line-height: 18px;
letter-spacing: .2em;
}

#asterisk {
font-size: 16px;
color: chocolate; 
line-height: 18px;  
letter-spacing: .1em;
text-align: center;
margin-top:5px;
} 

#displayInfo {
margin:0;
}

.hedForm {
font-family:'Diplomata SC', cursive;
}

#hedJumbo {
text-align:right;
font-size:60px;
font-family:'Old Standard TT', serif;
}

.panel > .panel-heading {
background-image:none;
background-color:red;
color:#FFF;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: white;
    border-color: #ddd;
}